Node Red flow.txt
[{"id":"f67b75cc.7aca38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"558d2351.a2eaac","type":"inject","z":"f67b75cc.7aca38","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["980f2615.2ad708"]]},{"id":"980f2615.2ad708","type":"debug","z":"f67b75cc.7aca38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":80,"wires":[]},{"id":"6bab9e7d.9232a","type":"ibmiot in","z":"f67b75cc.7aca38","authentication":"apiKey","apiKey":"aae8a911.9e0a28","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1402","applicationId":"","deviceType":"RaspberryPi","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":110,"y":200,"wires":[["939406e9.11caa8","68290a28.2bfd44","d18ae808.9b58b8"]]},{"id":"45d0f4ff.44075c","type":"debug","z":"f67b75cc.7aca38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":160,"wires":[]},{"id":"939406e9.11caa8","type":"function","z":"f67b75cc.7aca38","name":"Temperature","func":"global.set(\"temperature\", msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["45d0f4ff.44075c","9c81d77.05e0828"]]},{"id":"68290a28.2bfd44","type":"function","z":"f67b75cc.7aca38","name":"Humidtiy","func":"global.set(\"humidity\", msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["45d0f4ff.44075c","90d2bfc9.062d3"]]},{"id":"9c81d77.05e0828","type":"ui_gauge","z":"f67b75cc.7aca38","name":"Temperature","group":"e02be93f.528d08","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":100,"wires":[]},{"id":"90d2bfc9.062d3","type":"ui_gauge","z":"f67b75cc.7aca38","name":"Humidity","group":"2fc21d0.717a6e4","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":220,"wires":[]},{"id":"1c9de9c6.2973b6","type":"http in","z":"f67b75cc.7aca38","name":"Values","url":"/dht11-values","method":"get","upload":false,"swaggerDoc":"","x":170,"y":440,"wires":[["aa92436d.0d654"]]},{"id":"ec84036c.04d01","type":"http response","z":"f67b75cc.7aca38","name":"","statusCode":"","headers":{},"x":550,"y":440,"wires":[]},{"id":"aa92436d.0d654","type":"function","z":"f67b75cc.7aca38","name":"display","func":"msg.payload={\"temp\":global.get(\"temperature\"),\"hum\":global.get(\"humidity\"),\"SM\":global.get(\"SM\")}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["ec84036c.04d01"]]},{"id":"d18ae808.9b58b8","type":"function","z":"f67b75cc.7aca38","name":"SM","func":"global.set(\"SM\", msg.payload.d.SM)\nmsg.payload = msg.payload.d.SM\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["ff836e33.b9de2","45d0f4ff.44075c"]]},{"id":"efe93f4d.3233d","type":"ui_text","z":"f67b75cc.7aca38","group":"bf3388b8.1c70b8","order":0,"width":0,"height":0,"name":"SM","label":"water level","format":"{{msg.payload}}","layout":"row-spread","x":824,"y":320,"wires":[]},{"id":"ff836e33.b9de2","type":"switch","z":"f67b75cc.7aca38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":280,"wires":[["2bb5a17.089405e"],["1e40f0b4.63509f"]]},{"id":"2bb5a17.089405e","type":"function","z":"f67b75cc.7aca38","name":"water level not detected","func":"msg.payload=\"water not detected\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["efe93f4d.3233d"]]},{"id":"1e40f0b4.63509f","type":"function","z":"f67b75cc.7aca38","name":"water level","func":"msg.payload=\"water detected\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["efe93f4d.3233d"]]},{"id":"4863c6f3.6b2758","type":"ui_button","z":"f67b75cc.7aca38","name":"","group":"d1fa7df0.7041a","order":0,"width":0,"height":0,"passthru":false,"label":"motoroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":260,"y":580,"wires":[["c0824a8c.2abc08","fe4759e7.a44138"]]},{"id":"cd1451dd.d45e8","type":"ui_button","z":"f67b75cc.7aca38","name":"","group":"a691779a.94b288","order":0,"width":0,"height":0,"passthru":false,"label":"motoron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":200,"y":500,"wires":[["c0824a8c.2abc08","fe4759e7.a44138"]]},{"id":"c0824a8c.2abc08","type":"ibmiot out","z":"f67b75cc.7aca38","authentication":"apiKey","apiKey":"aae8a911.9e0a28","outputType":"cmd","deviceId":"1402","deviceType":"RaspberryPi","eventCommandType":"Data","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":540,"wires":[]},{"id":"fe4759e7.a44138","type":"debug","z":"f67b75cc.7aca38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":500,"wires":[]},{"id":"2097703d.8460a","type":"function","z":"f67b75cc.7aca38","name":"command","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":700,"wires":[["c0824a8c.2abc08","971a08e9.97d428","870eafa6.96d7f"]]},{"id":"c31a7e3b.d1568","type":"http in","z":"f67b75cc.7aca38","name":"","url":"/dht","method":"get","upload":false,"swaggerDoc":"","x":230,"y":700,"wires":[["2097703d.8460a"]]},{"id":"971a08e9.97d428","type":"http response","z":"f67b75cc.7aca38","name":"","statusCode":"","headers":{},"x":700,"y":660,"wires":[]},{"id":"870eafa6.96d7f","type":"debug","z":"f67b75cc.7aca38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":740,"wires":[]},{"id":"aae8a911.9e0a28","type":"ibmiot","z":"","name":"Inter-act","keepalive":"60","serverName":"dyl4ga.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e02be93f.528d08","type":"ui_group","z":"","name":"Temperature","tab":"8e49618a.892bb","disp":true,"width":"6","collapse":false},{"id":"2fc21d0.717a6e4","type":"ui_group","z":"","name":"Humidity","tab":"8e49618a.892bb","disp":true,"width":"6","collapse":false},{"id":"bf3388b8.1c70b8","type":"ui_group","z":"","name":"Soil Moisture","tab":"8e49618a.892bb","disp":true,"width":"6","collapse":false},{"id":"d1fa7df0.7041a","type":"ui_group","z":"","name":"motoroff","tab":"8e49618a.892bb","disp":true,"width":"6","collapse":false},{"id":"a691779a.94b288","type":"ui_group","z":"","name":"motoron","tab":"8e49618a.892bb","disp":true,"width":"6","collapse":false},{"id":"8e49618a.892bb","type":"ui_tab","z":"","name":"Values","icon":"dashboard","disabled":false,"hidden":false}]